<div class="auth-container d-flex flex-column justify-content-around">
  <div class="col-12 col-sm-6 col-md-4 align-self-center">
    <div class="card">
      <div class="card-title">
        <h3 class="text-uppercase mt-2 mb-0 text-center">Register</h3>
      </div>
      <div class="card-body py-0">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="firstname">Firstname</label>
            <input id="firstname" class="form-control" formControlName="firstname" placeholder="Firstname" required>
            <small class="text-danger"
                   *ngIf="form.invalid && (firstname.touched || firstname.dirty)">{{getFirstnameErrorMessage}}</small>
          </div>
          <div class="form-group">
            <label for="lastname">Lastname</label>
            <input id="lastname" class="form-control" formControlName="lastname" placeholder="Lastname" required>
            <small class="text-danger"
                   *ngIf="form.invalid && (lastname.touched || lastname.dirty)">{{getLastnameErrorMessage}}</small>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" formControlName="email" placeholder="Email" required>
            <small class="text-danger"
                   *ngIf="form.invalid && (email.touched || email.dirty)">{{getEmailErrorMessage}}</small>
          </div>
          <div class="form-group">
            <label for="role">Role</label>
            <select id="role" class="form-control" required formControlName="role">
              <option [value]="null" disabled>Select a role</option>
              <option value="owner">Owner</option>
              <option value="customer">Customer</option>
            </select>
            <small class="text-danger"
                   *ngIf="form.invalid && (role.touched || role.dirty)">{{getRoleErrorMessage}}</small>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" type="password" formControlName="password"
                   placeholder="Password"
                   required>
            <small class="text-danger"
                   *ngIf="form.invalid && (lastname.touched || lastname.dirty)">{{getPasswordErrorMessage}}</small>
          </div>

          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input class="form-control" [minLength]="8" id="confirm-password" type="password"
                   formControlName="password_repeat"
                   placeholder="Confirm Password" required>
            <small class="text-danger"
                   *ngIf="form.invalid && (passwordRepeat.touched || passwordRepeat.dirty)">{{getPasswordRepeatErrorMessage}}</small>
          </div>
          <button class="btn btn-primary btn-block" [disabled]="form.invalid || submitting">Register</button>
        </form>
        <small class="text-danger"
               *ngIf="error">{{error}}</small>
        <div class="pt-5">
          <p class="text-muted text-center">Already have an account? <a routerLink="/account/login">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
