<div class="banner d-flex flex-column justify-content-around">
  <h3 class="title">
    {{restaurant?.name}}</h3>
</div>
<div class="container">
  <div class="d-flex flex-row justify-content-end my-3">
    <button (click)="delete()" class="btn btn-danger" *ngIf="canDelete">
      <fa-icon [icon]="faTrash"></fa-icon>
      <span class="ml-1">Delete</span>
    </button>
    <button [routerLink]="['update']" class="btn btn-primary ml-2" *ngIf="canEdit">
      <fa-icon [icon]="faEdit"></fa-icon>
      <span class="ml-1">Edit</span></button>
  </div>
  <div class="row" *ngIf="restaurant">
    <div class="card p-3 w-100">
      <div class="card-title d-flex justify-content-between">

        <h3>
          <ngb-rating *ngIf="restaurant.averageRating" [(rate)]="restaurant.averageRating" id="rate" [max]="5"
                      [starTemplate]="t" [readonly]="true">
          </ngb-rating>
          {{restaurant.name}}</h3>
        <button class="btn btn-outline-primary" routerLink="review" *ngIf="canReview">Write a review</button>
      </div>
      <div class=" px-0">
        <p>
          {{restaurant.description}}
        </p>
        <p>
          <fa-icon [icon]="faMapMarker"></fa-icon>
          {{restaurant.address}}
        </p>
      </div>
      <div>
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem>
            <a ngbNavLink>Reviews</a>
            <ng-template ngbNavContent>
              <app-list-review [restaurant]="restaurant"></app-list-review>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Comments</a>
            <ng-template ngbNavContent>
              <app-comment-restaurant *ngIf="canComment" [restaurant]="restaurant">
              </app-comment-restaurant>
              <app-list-comment [restaurant]="restaurant">
              </app-list-comment>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>
