<div class="banner d-flex flex-column justify-content-around">
  <h3 class="title">Update User</h3>
</div>
<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstname">Firstname</label>
          <input id="firstname" class="form-control" formControlName="firstname" placeholder="Firstname" required>
          <small class="text-danger"
                 *ngIf="form.invalid && (firstname.touched || firstname.dirty)">{{getFirstnameErrorMessage}}</small>
        </div>
        <div class="form-group">
          <label for="lastname">Lastname</label>
          <input id="lastname" class="form-control" formControlName="lastname" placeholder="Lastname" required>
          <small class="text-danger"
                 *ngIf="form.invalid && (lastname.touched || lastname.dirty)">{{getLastnameErrorMessage}}</small>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" id="password" type="password" formControlName="password" placeholder="Password">
          <small class="text-danger"
                 *ngIf="form.invalid && (password.touched || password.dirty)">{{getPasswordErrorMessage}}</small>
        </div>

        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input class="form-control" id="confirm-password" type="password" formControlName="password_repeat"
                 placeholder="Confirm Password">
          <small class="text-danger"
                 *ngIf="form.invalid && (passwordRepeat.touched || passwordRepeat.dirty)">{{getPasswordRepeatErrorMessage}}</small>
        </div>
        <small class="text-danger"
               *ngIf="error">{{error}}</small>
        <div class="row no-gutters justify-content-end">
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
          <button class="btn btn-primary ml-3" type="submit" [disabled]="form.invalid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
