<div class="auth-container">
  <div fxLayout="column"
       fxFlexFill
       fxLayoutAlign="center center">
    <mat-card class="auth-card" fxLayout="column">
      <mat-card-title>
        <h1 class="title"><strong>Create Account</strong></h1>
      </mat-card-title>
      <form [formGroup]="form" fxLayout="column" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Firstname</mat-label>
          <input formControlName="firstname" matInput placeholder="Firstname" required>
          <mat-error
            *ngIf="form.invalid && (firstname.touched || firstname.dirty)">{{getFirstnameErrorMessage}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Lastname</mat-label>
          <input formControlName="lastname" matInput placeholder="Lastname" required>
          <mat-error
            *ngIf="form.invalid && (lastname.touched || lastname.dirty)">{{getLastnameErrorMessage}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput placeholder="Email" required>
          <mat-error
            *ngIf="form.invalid && (email.touched || email.dirty)">{{getEmailErrorMessage}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password" matInput placeholder="Password" required>
          <mat-error
            *ngIf="form.invalid && (lastname.touched || lastname.dirty)">{{getPasswordErrorMessage}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input type="password" formControlName="password_repeat" matInput placeholder="Confirm Password" required>
          <mat-error
            *ngIf="form.invalid && (passwordRepeat.touched || passwordRepeat.dirty)">{{getPasswordRepeatErrorMessage}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Role</mat-label>
          <select matNativeControl required formControlName="role">
            <option [value]="null" disabled>Select a role</option>
            <option value="owner">Owner</option>
            <option value="regularUser">Regular User</option>
          </select>
          <mat-error *ngIf="form.invalid && (role.touched || role.dirty)">{{getRoleErrorMessage}}</mat-error>
        </mat-form-field>

        <button mat-button mat-raised-button color="primary" [disabled]="form.invalid || submitting">Register</button>
      </form>
      <div class="alternative-options">
        <p>Already have an account? <a routerLink="/login">Login</a></p>
      </div>
    </mat-card>
  </div>
</div>
