<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Update a Comment</h4>
  <button type="button" class="close" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group m-0">
                <textarea rows="3" placeholder="Leave comment" type="text" class="form-control"
                          formControlName="comment"></textarea>
      <small class="text text-danger"
             *ngIf="form.invalid && (commentControl.touched || commentControl.dirty)">{{getCommentError}}</small>
    </div>
    <div class="form-group mt-2 text-right">
      <button class="btn btn-primary" [disabled]="form.invalid|| saving">Save</button>
    </div>
  </form>
  <small class="text text-danger" *ngIf="error">{{error}}</small>
</div>
