/* You can add global styles to this file, and also import other style files */
//
@import "src/assets/scss/colors";
@import "src/assets/scss/variables";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.auth-container {
  height: 100%;
  background: $light-blue;

  .auth-card {
    max-width: $login-card-width;
    width: 90%;
  }
}

.banner {
  background: $light-blue;
  height: 100px;
  width: 100%;
  color: $white;
}

.title {
  text-transform: uppercase;
  text-align: center;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
